hr {
    border-top: 1px solid rgba(214, 214, 214, 1) !important;
    height: 1px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-top:0;
    margin-bottom: 0;
}
ion-item{
    p{
        font-size:13px;
        color: #b6b6b6;
    }
    span{
        color:#747474;
    }
    .danger{
        color:#ee2b4d;
    }
    .box{
        background-color: rgba(255, 0, 0, 0.468);
        border-radius: 5px;
        padding:5px 15px;
        width: fit-content;
        color:rgb(24, 24, 24);
        margin-left: auto;
    }
}
@media(prefers-color-scheme: dark) {
    hr{
        border-top: 1px solid rgb(23, 23, 23, 0) !important;
    }
    ion-item{
        .box{
            background-color: rgba(255, 0, 0, 0.619);
            border-radius: 5px;
            padding:5px 15px;
            width: fit-content;
            color:rgb(255, 255, 255);
            margin-left: auto;
        }
    }
}