<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/watchlist"></ion-back-button>
    </ion-buttons>
    <ion-icon name="logo-angular" slot="end" class="ion-padding-end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-title class="ion-text-center ion-margin-vertical" color="warning"><h3>Welcome to Empuraan</h3></ion-title>
    <ion-title class="ion-text-center ion-margin-vertical">Login</ion-title>

    <ion-item class="ion-margin">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button style="width: 100%; height: 80px;" class="ion-padding">Login</ion-button>
    <ion-button color="tertiary" size="small" expand="block" fill="clear" class="ion-float-right">
      Forgot password?
    </ion-button>
  </form>
</ion-content>
