super-tab-button{
    display: flex;
    flex-direction: row; 
    align-items: center;
    ion-label.executed{
        padding-right: 7px;
    }
}
ion-item{
    p{
        font-size: 13px;
    }
    span{
        color:#747474;
    }
    span.sell{
        background-color: rgba(255, 168, 168, 0.5);
        color:rgb(255, 0, 0);
        padding:3px 12px;
        border-radius: 5px;
    }
    span.buy{
        background-color: rgba(116, 116, 255, 0.5);
        color:rgb(0, 8, 255);
        padding:3px 12px;
        border-radius: 5px;
    }
    span.cancelled{
        background-color: rgba(227, 227, 227, 0.5);
        color:rgb(75, 75, 75);
        padding:3px 12px;
        border-radius: 5px;
    }
    span.complete{
        background-color: rgba(77, 255, 77, 0.5);
        color:rgb(7, 143, 0);
        padding:3px 12px;
        border-radius: 5px;
    }
    .padding-hor{
        padding:0 7px;
    }
    .padding-strt{
        padding-left: 7px;
    }
}
@media(prefers-color-scheme: dark) {
    ion-item{
        span{
            color:#949494;
        }
        span.sell{
            background-color: rgba(255, 116, 116, 0.35);
            color:rgb(255, 170, 170);
        }
        span.buy{
            background-color: rgba(116, 116, 255, 0.35);
            color:rgb(170, 173, 255);
        }
        span.cancelled{
            background-color: rgba(106, 106, 106, 0.5);
            color:rgb(255, 255, 255);
        }
        span.complete{
            background-color: rgba(31, 228, 31, 0.5);
            color:rgb(77, 255, 67);
        }
    }
}